{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":456,"scrollleft":0,"selection":{"start":{"row":49,"column":3},"end":{"row":49,"column":3},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":27,"state":"start","mode":"ace/mode/ini"}},"hash":"4a022786481d4536135551fb32e4faca98c5ef96","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":47,"column":5},"end":{"row":48,"column":0},"action":"insert","lines":["",""],"id":4}],[{"start":{"row":48,"column":0},"end":{"row":49,"column":0},"action":"insert","lines":["",""],"id":5}],[{"start":{"row":49,"column":0},"end":{"row":49,"column":1},"action":"insert","lines":["."],"id":6},{"start":{"row":49,"column":1},"end":{"row":49,"column":2},"action":"insert","lines":["c"]},{"start":{"row":49,"column":2},"end":{"row":49,"column":3},"action":"insert","lines":["9"]}]]},"timestamp":1567105039565}