@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700');

/*------------------------------Header*/

header {
    margin: 0;
    padding: 0;
}

.header-image {
    background-image: url('../images/welcome-view.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
    max-width: 100%;
    margin: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-name {
    font-weight: 100;
    font-size: 80px;
    color: #34495E;
    padding-top: 20px;
    padding-left: 25px;
}

.header-title {
    font-weight: 300;
    font-size: 40px;
    color: #34495E;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 25px;
}

/*------------------------------Header-Nav*/

.col {
    padding: 0;
}

li a {
    color: #fff;
    padding: 0;
    text-decoration: none;
}

.row {
    padding-bottom: 0;
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.header-nav-container {
    font-size: 0;
}

.col ul {
    margin-bottom: 0;
}

#nav li {
    padding: 0;
}

.header-nav-item {
    height: 100px;
    text-align: center;
}

.header-nav-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.header-nav-item span {
    display: block;
    padding-top: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

/*------------------------------Navbar Colours/Background Colours*/

ul {
    background-color: #34495E;
}

.header-nav-color-home:hover {
    background-color: #4682B4;
}

.header-nav-color-skills:hover {
    background-color: #48D1CC;
}

.header-nav-color-contact:hover {
    background-color: #D98880;
}

.header-nav-color-home.active {
    background-color: #4682B4;
}

.header-nav-color-skills.active {
    background-color: #48D1CC;
}

.header-nav-color-contact.active {
    background-color: #D98880;
}

.home-bg-color {
    background-color: #4682B4;
}

/*------------------------------So far...*/

section {
    margin: 0;
    padding: 0;
}

.about-container {
    min-height: 500px;
    background-color: rgba(70, 130, 180, 0.8);
    color: #34495E;
    padding-bottom: 20px;
}

.so-far-title {
    padding-top: 20px;
    margin-bottom: 30px;
}

.so-far-title h3 {
    margin: 0;
}

.so-far-paragraph p {
    margin-bottom: 25px;
}

/*------------------------------Timeline*/

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.container {
    padding: 10px 20px;
    position: relative;
    background-color: #34495E;
    width: 50%;
    color: #fff;
    margin-left: 0;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

/*------------------------------Skills*/

.skills-container {
    margin: 0;
    min-height: 500px;
    background-color: rgba(72, 209, 204, 0.8);
    color: #34495E;
    padding-bottom: 20px;
}

.skills-title {
    padding-top: 20px;
    margin-bottom: 30px;
}

.skills-progression {
    margin-bottom: 30px;
}

.progress {
    height: 35px;
    margin-bottom: 15px;
    position: relative;
}

.progress-type {
    position: absolute;
    left: 0px;
    color: #283747;
    padding: 2px 30px 2px 5px;
}

/*------------------------------Contact Info*/

.contact-container {
    padding: 0;
    margin: 0;
    min-height: 500px;
    background-color: rgba(217, 136, 128, 0.8);
    color: #34495E;
}

.contact-row {
    margin-left: 0;
    margin-right: 0;
}

.contact-info {
    padding-top: 15px;
    margin-bottom: 20px;
}

.contact-details-title {
    margin-bottom: 20px;
}

.contact-details-itemised {
    margin-bottom: 20px;
}

.contact-details-itemised .key,
.contact-details-itemised .value {
    display: inline-block;
    padding-right: 10px;
}

.contact-details-itemised .key p,
.contact-details-itemised .value p {
    margin: 0;
}

.contact-details-itemised .key {
    width: 30%;
}

.contact-details-itemised .value {
    position: relative;
    width: 60%;
}

.contact-details-itemised .key p {
    font-weight: 600;
}

.contact-details-itemised .value p {
    font-weight: 200;
}

/*------------------------------Contact Form*/

.contact-form {
    padding-top: 15px;
    margin-bottom: 20px;
}

.contact-form-title {
    margin-bottom: 20px;
}

.contact-groups {
    padding: 0;
}

.centre-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/*------------------------------Footer*/

footer {
    min-height: 100px;
    margin: 0;
    padding: 0;
}

.footer-nav {
    background-color: #34495E;
}

.footer-nav-item {
    height: 100px;
    text-align: right;
    padding: 15px 20px;
    color: #fff;
}

.footer-nav-item a {
    text-decoration: none;
    color: #fff;
}

.footer-nav-item a i {
    font-size: 20px;
    padding: 10px;
}

.footer-nav-item p {
    margin: 0;
}

/*------------------------------Media Queries*/

@media(max-width: 600px) {
    .header-title {
        font-weight: 200;
        font-size: 40px;
        color: #34495E;
        padding-top: 25px;
        padding-bottom: 40px;
        padding-left: 25px;
    }
}

@media(min-width: 768px) {
    .timeline {
        max-width: 90%;
    }
}

@media(min-width: 768px) {
    .timeline::after {
        content: '';
        position: absolute;
        width: 12px;
        background-color: #fff;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -2px;
    }
}

@media(min-width: 992px) {
    .centre-form {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 80%;
    }
}

@media(min-width: 768px) {
    .footer-nav-item {
        height: 100px;
        text-align: right;
        padding: 15px 15px;
        color: #fff;
        font-size: 25px;
        font-weight: 400;
    }
}
